<div class = "title" class = "center">
   <h3>All Available Products</h3> 
</div>
   <p>

<div class = "col-sm-6 col-md-6">
      <div class = "thumbnail">
         <img src = "http://localhost:8080/images/robo2.jpg" alt = alt = "thum" class="img-responsive" class="center">
      </div>
      
      <p class = "caption">
         <h3>John Smith Robot</h3>
         <p class="description">Cut Edge AI at a really good price!</p>
         
               <a href = "#" class = "btn btn-primary" role = "button">
               <p class="price"> Only U$ 5.000 </p>
            </a> 
            
            <a href = "#" class = "btn btn-success pull-right" role = "button">
               Buy Now!!
            </a>
         </p>
      </div>
   </div>
</div>
  
<div class = "col-sm-6 col-md-6">
      <div class = "thumbnail">
         <img src = "http://localhost:8080/images/fone1.jpg" alt = "thum" class="img-responsive" class="center">
      </div>
      
      <div class = "caption">
         <h3>Machine Top CellPhone</h3>
         <p class="description">Top Market Price!! High Durability</p>
         
            <a href = "#" class = "btn btn-primary" role = "button">
               <p class="price"> Only U$ 15.000 </p>
            </a> 
            
            <a href = "#" class = "btn btn-success pull-right" role = "button">
               Buy Now!!
            </a>
         </p>
      </div>
   </div>
   

   <div class = "col-sm-6 col-md-6">
      <div class = "thumbnail">
         <img src = "http://localhost:8080/images/note.jpg" alt = alt = "thum" class="img-responsive" class="center">
      </div>
      
      <div class = "caption">
         <h3>Great Label Notebooks</h3>
         <p class="description">High Speed Precessor. Top Cost x Benefits</p>
         
               <a href = "#" class = "btn btn-primary" role = "button">
               <p class="price"> Only U$ 25.000 </p>
            </a> 
            
            <a href = "#" class = "btn btn-success pull-right" role = "button">
               Buy Now!!
            </a>
         </p>
      </div>
   </div>
</div>

<div class = "col-sm-6 col-md-6">
      <div class = "thumbnail">
         <img src = "http://localhost:8080/images/game.jpg" alt = alt = "thum" class="img-responsive" class="center">
      </div>
      
      <div class = "caption">
         <h3>Great Latest Game</h3>
         <p class="description">Awesome Grafics Resources. Best user experience ever</p>
         
               <a href = "#" class = "btn btn-primary" role = "button">
               <p class="price"> Only U$ 5.000 </p>
            </a> 
            
            <a href = "#" class = "btn btn-success pull-right" role = "button">
               Buy Now!!
            </a>
         </p>
      </div>
   </div>
</div>


